// navigation
$navigation-background-color:#1D74DE;
$navigation-content-height: 70px;
$navigation-padding: 12px;
$navigation-content-color: #ECECE9;
$navigation-font-size: 18px;

// footer
$footer-background-color: #1D74DE;
$footer-content-color: #ECECE9;
$footer-content-height: 50px;
$footer-padding: 12px;
$footer-font-size: 16px;

// main
$main-padding: 50px;

@mixin tablet {
    @media(max-width: 890px) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: $navigation-background-color;
    height: $navigation-content-height;
    display: flex;
    align-items: center;

    a {
        color: $navigation-content-color;
        font-size: $navigation-font-size;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: $navigation-padding;

        &:nth-child(2) {
            font-weight: bold;
            margin-left: 10%;
        }

        &:hover {
            border-bottom: 1px solid $navigation-content-color;
            border-radius: 1px;
        }

        @include tablet {
            display: none;
        }
    }

    span {
        color: $navigation-content-color;
        font-size: $navigation-font-size;
        font-family: Arial, Helvetica, sans-serif;
        padding: $navigation-padding;
        margin: auto 10% auto auto;

        @include tablet {
            position: absolute;
            right: 0;
            top: 12px;
        }
    }

    .hamburger {
        display: none;

        @include tablet {
            display: block;
            margin-left: 10%;
        }
    }
}


.responsive {
    @include tablet {
        display: block;
        position: relative;
        z-index: 1;
    }

    a {
        @include tablet {
            display: block;
            background-color: $navigation-background-color;
            margin-left: 10%;
            width: 50%;

            &:nth-child(2) {
                margin-top: 10px;
            }

            &:not(.hamburger):hover {
                background: #2E85EF;
                border: 1px solid $navigation-content-color;
            }

            &:hover {
                border-bottom: none;
            }
        }
    }

    .hamburger {
        @include tablet {
            padding-top: 25px;
        }
    }
}

main {
    padding: $main-padding 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (#{$navigation-content-height + $footer-content-height}));
    position: relative;

    .background {
        height: 100%;
        width: 100%;
        // image from
        // https://www.anyrgb.com/en-clipart-ya3tz
        background-image: url('./assets/main-background.png');
        position: absolute;
        opacity: 0.2;
        z-index: -1;
    }
}

footer {
    display: none;
    background-color: $footer-background-color;
    height: $footer-content-height;
    display: flex;
    align-items: center;

    a {
        color: $footer-content-color;
        font-size: $footer-font-size;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: $footer-padding;

        &:first-child {
            margin-left: 10%;
        }

        &:hover {
            border-bottom: 1px solid $footer-content-color;
            border-radius: 1px;
        }
    }
}