//  list
$list-container-width: 80%;
$list-container-height: 650px;
$list-accent-color: #ECECE9;
$icon-color: #666564;
// header
$list-header-background: #1D74DE;
$list-header-height: 60px;
$list-header-font-size: 22px;
// row
$list-row-background: white;
$list-row-height: 60px;
$list-row-font-size: 22px;

.list-container-class {
    min-height: $list-container-height;
    min-width: $list-container-width;

    .list-content {
        box-shadow: 0px 0px 10px $list-accent-color;

        .list-header {
            background-color: $list-header-background;
            height: $list-header-height;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $list-accent-color;
            font-size: $list-header-font-size;
            text-transform: uppercase;
        }

        .list-row {
            background: $list-row-background;
            border-top: 1px solid $list-accent-color;
            height: $list-row-height;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}